[Unit]
Description=Service for starting the netconf polling .py files located at /home/prime/netconf-polling

[Service]
User=prime
WorkingDirectory=/home/prime/grafana-collectors/netconf-polling/
ExecStart=/bin/bash -c 'cd /home/prime/grafana-collectors/netconf-polling && python3 locations.py && python3 main.py'

[Install]
WantedBy=multi-user.target
